.inp-name,
.inp-password,
.inp-mail,
.inp-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inp-name input,
.inp-password input,
.inp-mail input,
.inp-button input {
    width: 150px;
    height: 25px;
    border-radius: 5px;
    outline: 0;
    border: none;
    padding-left: 5px;
}

.inp-button {
    padding-top: 10px;
}

.inp-button input {
    width: 150px;
    height: 30px;
}