.wrap-pop-up {
    display: flex;
    width: 85%;
    justify-content: center;
    align-items: center;
}

.btn-pop-up {
    display: flex;
    width: 250px;
    height: 60px;
    color: white;
    background: black;
    border-radius: 20px;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
}

.btn-pop-up:hover {
    background: yellowgreen;;
    transition: all .8s;
}