.form-style {
    position: relative;
    top: 75px;
    width: 50%;
    display: flex;
    height: 500px;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    background: wheat;
    margin: 0 auto;
    transition: all .5s;
}

.form-style .cancel {
    width: 100px;
    height: 30px;
    border-radius: 5px;
    background: black;
    display: flex;
    color: white;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    text-transform: uppercase;
    position: absolute;
    right: 20px;
    top: 10px;
}


.form-style .cancel:hover {
    background: red;
}