.Logout {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    border: 1px solid black;
    color: black;
    padding: 5px;
}

.Logout  .logout-user {
    display: flex;
    width: 100px;
    height: 30px;
    background: black;
    color: white;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    text-transform: uppercase;
}

.Logout  .logout-user:hover {
    background: yellowgreen;
    transition: all .7s;
}