.Wrapped-menu {
    display: flex;
    width: 100%;
}
.Menu {
    width: 15%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.Menu li {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    background: beige;
    cursor: pointer;
    margin-right: 200px;
}

.Menu li a {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: black;
    font-weight: bold;
}
.Menu li a.active {
    font-weight: bold;
    color: cadetblue;
    transition: all .5s;
}